* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color:white;
    font-family: "Josefin Sans";
}


body{
    background-color: #222;
}

.App{
    width: 50%;
    margin: auto;
    padding: 50px;
    text-align: center;
}

.ru{
    color: #999;
}


